@import "tailwindcss";

@theme {
  --color-primary: #0ea5e9;
  /* Sky 500 */
  --color-secondary: #0284c7;
  /* Sky 600 */
  --color-accent: #f59e0b;
  /* Amber 500 */
}

:root {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #F9FAFB;
  /* gray-50 */
  color: #111827;
  /* gray-900 */
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

input, textarea, [contenteditable="true"] {
  -webkit-user-select: text;
  user-select: text;
}

/* Aqua QR Scanner Custom Styles */
#reader {
  border: none !important;
  background: transparent !important;
  width: 100% !important;
}

#reader video {
  border-radius: 2rem;
  width: 100% !important;
  object-fit: cover;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}
